.navbar {
  border: none;

  .navbar-header {
    background-color: $client-primary;
    color: $client-font-color-white;
    padding: 0;

    h1 {
      letter-spacing: .05rem;
      text-transform: capitalize;
      padding-left: 3.5rem;
      margin-bottom: 1.5rem;

      @media(max-width: $screen-sm-max) {
        padding-left: 2rem;
        font-size: 2rem;
      }
    }

    .navbar-brand {
      z-index: 100;
      margin: 0 !important;
      padding: 0;

      .trakan-logo {

        margin: 0 auto;
        /*
        transition:1s;
        transform:scale(2) translate(0,0);

        @media (max-width: $screen-sm-max) {
          transition:1s;
          transform:scale(1) translate(.5,.5);
        }
        */

      }

    }

    @media (max-width: $screen-xs-max) {
      margin-top: -6rem;
      h1 {
        font-size: 0; // hide the text so it doesn't wrap when the top collapses on small devices
      }
    }

  }

  .navbar-menu {
    background-color: $client-primary-dark;
    padding: 0;

    i {
      color: $client-font-color-white;
      font-size: 1.4rem;
      font-weight: 400;
      margin-right: .5rem;
    }
  }

  ul.main-nav {
    display: inline-flex;
    margin: 0;
    padding: 0;
    list-style: none;
  }

  .main-nav li {
    padding: .5rem 3rem;
    @media(max-width: $screen-sm-max) {
      padding: .5rem 2rem;
    }
  }

  .main-nav a {
    font-family: $font-family-base;
    font-weight: 400;
    font-size: 1.4rem;

    color: $client-font-color-white;

    @media (max-width: 500px) {
      font-size: 0;
    }
  }

  .main-nav a:hover,
  .main-nav a:focus {
    background-color: transparent;
    text-decoration: none;
    @include transition-fade;
    opacity: .8;
  }

}
