.navbar {
  border: none;

  .navbar-header {
    background-color: $client-primary;
    color: $client-font-color-white;
    padding: 0;

    h1 {
      letter-spacing: .05rem;
      text-transform: capitalize;
      padding-left: 3.5rem;
      margin-bottom: 1.5rem;

      @media(max-width: $screen-sm-max) {
        padding-left: 2rem;
        font-size: 2rem;
      }
    }

    .navbar-brand {
      z-index: 100;
      margin: 0 !important;
      padding: 0;

      .trakan-logo {
        height: 22rem;
        margin: 1.2rem auto 0;

        @media(max-width: $screen-xs-max) {
          height: 6rem;
          margin: 6.2rem auto 0;
        }
      }
    }

    @media (max-width: $screen-xs-max) {
      margin-top: -6rem;
      h1 {
        font-size: 0; // hide the text so it doesn't wrap when the top collapses on small devices
      }
    }
  }

  .navbar-menu {
    background-color: $client-primary-dark;
    padding: 0;

    i {
      color: $client-font-color-white;
      font-size: 1.4rem;
      font-weight: 400;
      margin-right: .5rem;

      @media (max-width: $screen-xxs-max) {
        padding-top: .8rem
      }
    }

    @media (max-width: $screen-xs-max) {
      background-color: $client-primary;
    }
  }

  ul.main-nav {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
  }

  .main-nav li {
    padding: .5rem 1.5rem;

    @media(min-width: $screen-sm-min) {
      padding: .5rem 2rem;
    }

    @media(min-width: $screen-md-min) {
      padding: .5rem 3rem;
    }

    @media (max-width: $screen-xxs-max) {
      padding-top: 0;
      padding-bottom: 0;
    }
  }

  .main-nav a {
    font-family: $font-family-base;
    font-weight: 400;
    font-size: 1.4rem;

    color: $client-font-color-white;

    @media (max-width: $screen-xxs-max) {
      font-size: 0;
      flex-grow: 1;
      text-align: center;
    }
  }

  .main-nav a:hover,
  .main-nav a:focus {
    background-color: transparent;
    text-decoration: none;
    @include transition-fade;
    opacity: .8;
  }
}
