.navbar {
  border: none;
  margin-bottom: 0;

  .navbar-header {
    background-color: $client-primary;
    color: $client-font-color-white;
    padding: 0;

    .h1 {
      font-size: 4rem;
      letter-spacing: .05rem;
      text-transform: capitalize;
      text-align: center;
      margin-bottom: 1.5rem;

      @media (max-width: $screen-sm-max) {
        padding-left: 2rem;
        font-size: 3rem;
      }
    }

    .navbar-brand {
      position: fixed;
      z-index: 100;
      padding: 0;

      // TODO - create hat logo with path for band?
      .trakan-logo {
        text-align: center;

        @media (max-width: $screen-xs-max) {
          text-align: left;
        }

        img {
          height: 22rem;
          margin-top: -.5rem;
          transition: height .1s ease-in-out;

          @media (max-width: $screen-md-max) {
            height: 13rem;
            margin: .4rem auto;
          }

          @media (max-width: $screen-xs-max) {
            height: 5rem;
            width: 5rem;
            margin: 6rem auto 0;
          }
        }
      }

      .handwriting {
        display: none;
      }
    }

    @media (max-width: $screen-xs-max) {
      margin-top: -6rem;
      h1 {
        font-size: 0; // hide the text so it doesn't wrap when the top collapses on small devices
      }
    }
  }

  .navbar-menu {
    background-color: $client-primary-dark;
    padding: .3rem 0;
    z-index: 50;

    i {
      color: $client-font-color-white;
      font-size: 1.6rem;
      font-weight: 400;
      margin-right: .5rem;

      @media (max-width: $screen-xxs-max) {
        padding-top: .8rem
      }
    }

    @media (max-width: $screen-xs-max) {
      background-color: $client-primary;
      position: fixed;
    }
  }

  ul.main-nav {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    list-style: none;

    @media (max-width: 775px) {
      justify-content: flex-end;
    }
  }

  .main-nav li {
    padding: .5rem 1.5rem;

    @media (min-width: $screen-sm-min) {
      padding: .5rem 2rem;
    }

    @media (min-width: $screen-md-min) {
      padding: .5rem 3rem;
    }

    @media (max-width: $screen-xxs-max) {
      padding-top: 0;
      padding-bottom: 0;
    }
  }

  .main-nav a {
    font-family: $font-family-base;
    font-weight: 400;
    font-size: 1.6rem;
    color: $client-font-color-white;

    @media (max-width: $screen-xxs-max) {
      font-size: 0;
      flex-grow: 1;
      text-align: center;
    }
  }

  .main-nav a:hover,
  .main-nav a:focus {
    background-color: transparent;
    text-decoration: none;
    @include transition-fade;
    opacity: .8;
  }
}


.affix-nav {
  .navbar-header {
    .navbar-brand {

      @media (min-width: $screen-sm-min) {
        @extend .col-sm-6;
      }

      .trakan-logo {
        img {
          width: 5rem;
          padding: 0;

          @media (max-width: $screen-xxs-max) {
            float: none;
          }

          @media (min-width: $screen-xs-min) {
            float: left;
            height: 5rem;
          }

          @media (max-width: $screen-xs-max) {
            text-align: left;
          }

          @media (min-width: $screen-sm-min) {
            @extend .col-xs-3;
            margin: 0 auto;
          }

        }
      }

      .handwriting {
        display: block;
        margin-left: 1rem;
        margin-top: 1.3rem;
        color: $client-font-color-white;

        @media (max-width: $screen-xs-max) {
          display: none;
        }
      }
    }

    h1 {
      display: none;
    }
  }

  .navbar-menu {
    background-color: $client-primary;
    position: fixed;
    opacity: .95;
    box-shadow: 0 2px 5px -2px rgba(35,44,51,0.72);

    ul.main-nav {
      justify-content: flex-end;

      li {
        @media (max-width: $screen-sm-max) {
          padding: .5rem 1.5rem;
        }

        @media (max-width: $screen-xxs-max) {
          padding: 0 1.5rem;
        }
      }
    }
  }
}
