<section class="view-content portfolio-content max-container">

  <div class="greeting">
    <p class="h4 handwriting" ng-repeat="greeting in PVC.content.greetings" ng-bind-html="greeting"></p>
  </div>

  <!-- FEATURED PORTFOLIO PIECES -->
  <h1 class="handwriting" ng-bind="PVC.content.featured.headline"></h1>

  <div class="view-wrap">
    <article class="view-item portfolio-piece" ng-repeat="item in PVC.content.featured.projects">
      <div class="project-wrap">

        <!-- screenshot -->
        <a ng-href="{{item.url}}" target="_blank">
          <div class="portfolio-thumb">
            <img alt="{{item.name}}" ng-src="{{item.thumb}}"/>
            <!-- project name -->
            <h2 ng-bind="item.name"></h2>
          </div>
        </a>

        <div class="project-description">
          <!-- description -->
          <div>
            <h4>What it is:</h4>
            <p ng-bind="item.what"></p>
          </div>

          <!-- my roles on project -->
          <div>
            <h4>What I brought to the app:</h4>
            <p ng-bind-html="item.roles"></p>
          </div>

          <!-- technologies used -->
          <div>
            <h4>Stuff I used:</h4>
            <span class="span-list" ng-repeat="tech in item.techs">
              <a ng-href="{{tech.url}}" ng-bind-html="tech.name" target="_blank"></a>
            </span>
          </div>

          <!-- reflections -->
          <div>
            <h4>What I remember:</h4>
            <ul>
              <li ng-repeat="memory in item.memories" ng-bind-html="memory"></li>
            </ul>
          </div>
        </div>

      </div>
    </article>
  </div>

  <!-- LOGOS OF PAST JOBS-->
  <!-- TODO - add recor, northwestern-->
  <p class="h1 handwriting" ng-bind="PVC.content.past.headline"></p>
  <div class="view-wrap portfolio-wrap old-logos">
    <a ng-repeat="place in PVC.content.past.places" ng-href="{{place.url}}" target="_blank">
      <img alt="{{place.name}}" ng-src="{{place.thumb}}"/>
    </a>
  </div>

</section>
