.view-content.portfolio-content {

  .greeting {
    h2 {
      margin: .5rem 0 1.2rem;
      @media (max-width: 540px) {
        width: 65%;
        margin: 0 auto 1.2rem;
      }
    }

    h5 {
      width: 53%;
      margin: 0 auto;

      @media (max-width: $screen-md-max) {
        width: 95%;
      }

      @media (max-width: $screen-xs-max) {
        margin: 0 1rem;
      }
    }
  }

  .portfolio-piece {
    @media (max-width: $screen-xs-max) {
      border-bottom: .1rem solid lighten($client-gray-lite, 10%);
    }

    .project-wrap {
      padding: 0 4rem;

      @media (max-width: $screen-xs-max) {
        width: 100vw;
        padding: 1rem;
        margin-bottom: 1.5rem
      }

      .portfolio-thumb {
        position: relative;
        min-height: 17.8rem;

        h3 {
          margin-top: .5rem;
        }

        .status {
          display: table-cell; // ie9
          display: flex;
          position: absolute;
          left: 0;
          right: 0;
          bottom: 0;
          top: 0;
          flex-direction: column;
          justify-content: center;
          opacity: 0;

          p {
            color: $client-red;
            text-shadow: 0 0 1rem $client-white, 0 0 1rem $client-white, 0 0 1rem $client-white ;

            //text-shadow: 2px 8px 6px rgba(0,0,0,0.2),
                         // 0px -5px 35px rgba(255,255,255,0.3);
            font-size: $font-lg;
            line-height: 2.4rem;
            font-weight: 700;
            margin: 0;
            //opacity: .9;
          }
        }

        img {
          border: 1px solid $client-gray;
          margin-bottom: .5rem;
          left: 0;
          top: 0;
        }

        &:hover {
          .status, img {
            @include transition-fade;
            opacity: 1;
          }
        }

        &.no-link:hover {
          cursor: not-allowed;
        }
      }

      .project-description {
        margin-top: 4rem;
      }
    }

    img {
      width: 90%;
      opacity: .8;
    }

    .project-description {
      text-align: left;

      div {
        margin-bottom: 2rem;
      }
    }

    @media (max-width: $screen-xs-max) {
      max-width: 100%;
      min-width: 100%;
    }

    @media (min-width: $screen-sm-min) {
      max-width: 50%;
      min-width: 50%;
    }

    @media (min-width: $screen-lg-min) {
      max-width: 43rem;
      min-width: 35rem;
    }
  }

  .old-logos {
    justify-content: center;
    align-items: center;

    @media (max-width: $screen-xs-max) {
      width: 100vw;
    }

    img {
      width: 10rem;
      flex: 1;
      opacity: .6;
      margin: 0 3rem 3rem;
    }
  }

}
