.portfolio-content {

  .portfolio-wrap {
    display: flex;
    flex-wrap: wrap;
    margin-top: 4rem;

    .portfolio-piece {
      flex: 1;
      margin-bottom: 4rem;
      text-align: center;

      @media (max-width: $screen-xs-max) {
        border-bottom: 1px solid lighten($client-gray-lite, 10%);
      }

      .project-wrap {
        padding: 3rem;

        @media (max-width: $screen-xs-max) {
          padding: 1rem;
          margin-bottom: 1.5rem
        }

        .portfolio-thumb:hover {
          img {
            @include transition-fade;
            opacity: 1;
          }
        }

        .project-description {
          margin-top: 2rem;
        }
      }

      img {
        width: 100%;
        opacity: .8;
      }

      h2, h4 {
        font-weight: 700;
      }

      .project-description {
        text-align: left;

        div {
          margin-bottom: 2rem;
        }
      }

      @media (max-width: $screen-xs-max) {
        max-width: 100%;
        min-width: 100%;
      }

      @media (min-width: $screen-sm-min) {
        max-width: 50%;
        min-width: 50%;
      }

      @media (min-width: $screen-lg-min) {
        max-width: 43rem;
        min-width: 35rem;
      }
    }
  }

  .old-logos {
    justify-content: center;
    align-items: center;

    img {
      width: 10rem;
      flex: 1;
      opacity: .6;
      margin: 0 4rem 4rem 0;
    }
  }

}
