.view-content.portfolio-content {
  .portfolio-piece {

    @media (max-width: $screen-xs-max) {
      border-bottom: 1px solid lighten($client-gray-lite, 10%);
    }

    .project-wrap {
      padding: 0 4rem;

      @media (max-width: $screen-xs-max) {
        width: 100vw;
        padding: 1rem;
        margin-bottom: 1.5rem
      }

      .portfolio-thumb:hover {
        img {
          @include transition-fade;
          opacity: 1;
        }
      }

      .project-description {
        margin-top: 2rem;
      }
    }

    img {
      width: 90%;
      opacity: .8;
    }

    h2, h4 {
      font-weight: 700;
    }

    .project-description {
      text-align: left;

      div {
        margin-bottom: 2rem;
      }
    }

    @media (max-width: $screen-xs-max) {
      max-width: 100%;
      min-width: 100%;
    }

    @media (min-width: $screen-sm-min) {
      max-width: 50%;
      min-width: 50%;
    }

    @media (min-width: $screen-lg-min) {
      max-width: 43rem;
      min-width: 35rem;
    }
  }

  .old-logos {
    justify-content: center;
    align-items: center;

    @media (max-width: $screen-xs-max) {
      width: 100vw;
    }

    img {
      width: 10rem;
      flex: 1;
      opacity: .6;
      margin: 0 3rem 3rem;
    }
  }

}
