footer {
  background-color: $client-primary;
  color: $client-white;
  padding: 2rem 0;

  .footer-nav {
    ul {
      margin: 0;
    }
  }

  a, a:visited, a:focus, a:active {
    color: $client-white;
    text-decoration: underline;
  }

  a:hover {
    color: lighten($client-gray, 38%);
  }

  .footer-nav-wrap {
    display: flex;
    justify-content: center;

    ul {
      list-style-type: none;
      display: flex;
      justify-content: center;
    }

    ul:first-child {
      padding: 0;
    }

    li {
      padding: 0 .5rem;
      img {
        height: 4rem;
      }
    }
  }

  .license-wrap {
    margin-top: 1.6rem;

    h6 {
      margin: .7rem 0;
      line-height: 1.4rem;
      opacity: .7;
    }
  }
}
