<div class="footer-nav max-container">

  <div class="footer-nav-wrap">
    <ul ng-repeat="footerSection in FND.footerContent">
      <li ng-repeat="item in footerSection.items">
        <a ng-if="item.link.url" href="{{item.link.url}}" target="_blank">
          <img alt="{{item.label}}" ng-src="{{'assets/svg/' + item.icon + '.svg'}}"/>
        </a>
      </li>
    </ul>
    <div class="clearfix"></div>
  </div>

  <div class="license-wrap text-center">
    <h6>
      Portfolio built 2016 <span ng-bind-html="FND.builtNotes.how"></span>
    </h6>
    <h6 ng-repeat="note in FND.builtNotes.license" ng-bind-html="note"></h6>
  </div>

  <div class="clearfix"></div>
</div>
