<div class="footer-nav max-container">

  <div class="footer-nav-wrap">
    <ul ng-repeat="footerSection in FND.footerContent">
      <li ng-repeat="item in footerSection.items">
        <a ng-if="item.link.url" href="{{item.link.url}}" target="_blank">
          <!--fixme - svg work better by using css background img ? -->
          <img alt="{{item.label}}" ng-src="{{'assets/svg/' + item.icon + '.svg'}}"/>
        </a>
      </li>
    </ul>
    <div class="clearfix"></div>
  </div>

  <!-- todo - use moment to get build year-->
  <div class="license-wrap text-center">
    <h6>
      Built <span>2016</span> <span ng-bind-html="FND.builtNotes.how"></span>
    </h6>
    <h6 ng-bind-html="FND.builtNotes.license"></h6>
  </div>
  <div class="clearfix"></div>
</div>
