small {
  font-size: 70%;
}

/*************
SCAFFOLD - MAIN
**************/

html {
  font-size: 62.5%;
}

body {
  background-color: $client-white;

  @media (max-width: $screen-xs-max) {
    //background-color: red; // todo - remove when nav finished
  }

  @media (min-width: $screen-sm-min) {
   // background-color: blue; // todo - remove when nav finished
  }

  @media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
   // background-color: gold; // todo - remove when nav finished
  }

  @extend .miketrakan;

  display: flex;
  height: 100%; // Avoid the IE 10-11 `min-height` bug. TODO - test on current supported IEs
  min-height: 100vh;
  flex-direction: column;
  overflow-y: auto;
}

main {
  flex: 1 0 auto;
  margin: 0 auto;

  .portfolio-content {
    margin-bottom: 40px;
  }
}

header,
footer {
  flex: none; // Set `flex-shrink` to `0` to prevent some browsers from letting these items shrink to smaller than their content's default minimum size. See http://bit.ly/1Mn35US for details.
}

footer {
  background-color: $client-primary;
  color: $client-white;
  padding: 2rem 0;

  .footer-nav {
    ul {
      @include nav-indent-left;
    }
  }

  a, a:visited, a:focus, a:active {
    color: $client-white;
  }

  a:hover {
    color: lighten($client-gray, 38%);
  }

  .btn {
    margin-left: 1rem;
    font-family: $font-family-sans-serif;
  }
}
