// CUSTOM THEME
@import "theme/miketrakan";

//$icon-font-path: "../../bower_components/bootstrap-sass/assets/fonts/bootstrap/";

/**
 *  Do not remove the comments below. It's the markers used by wiredep to inject
 *  sass dependencies when defined in the bower.json of your dependencies
 */
// bower:scss
// endbower

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* UTILITY */

.no-pad {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.span-list {
  padding: 0 .5rem 0 0;
}


/* MIXINS */

/*
@mixin transition-grow {
  transition: height 1s ease;
}
*/

@mixin transition-fade {
  transition: opacity .1s ease-in-out;
  opacity: .5;
}

@mixin nav-indent-left {
  margin-left: 1rem !important;
}


/*************
TYPOGRAPHY
**************/

.miketrakan {
  font-size: 1.4rem;
  line-height: 2.4rem;
  font-weight: 400;

  a {
    color: $client-gray;
  }

  a:hover, a:focus {
    text-decoration: none;
  }

  h4, .h4 {
    line-height: 2.5rem;
  }
}

.handwriting {
  font-family: $font-family-header;
}

small {
  font-size: 70%;
}


/*************
SCAFFOLD - MAIN
**************/

html {
  font-size: 62.5%;
}

body {
  background-color: $client-white;

  @media (min-width: $screen-xs-min) and (max-width: $screen-xs-max) {
    //background-color: red; // todo - remove when nav finished
  }

  @media (min-width: $screen-sm-min) {
    //background-color: blue; // todo - remove when nav finished
  }

  @media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
    //background-color: gold; // todo - remove when nav finished
  }

  @extend .miketrakan;

  display: flex;
  height: 100%; // Avoid the IE 10-11 `min-height` bug. TODO - test on current supported IEs
  min-height: 100vh;
  flex-direction: column;
  overflow-y: auto;
}

main {
  flex: 1 0 auto;
  margin: 0 auto;

  .portfolio-content {
    margin-bottom: 4rem;
    width: 90vw;

    h1 {
      text-align: center;
    }

    .greeting {
      padding: 1.5rem 0 3rem;
      color: $client-primary;

      p {
        text-align: center;
        margin-bottom: 1.4rem;
        opacity: .7;
        @media (max-width: 800px) {
          font-size: 1.4rem;
        }
      }

    }
  }
}

header,
footer {
  flex: none; // Set `flex-shrink` to `0` to prevent some browsers from letting these items shrink to smaller than their content's default minimum size. See http://bit.ly/1Mn35US for details.
}




// Buttons ====================================================================

.btn {
  border: none;
  @extend .miketrakan;

  &:hover {
    border-color: transparent;
  }

  &-lg {
    line-height: 2.6rem;
  }

  &-default {
    &:hover {
      background-color: $navbar-default-link-active-bg;
    }
  }
}


// Tables =====================================================================

// Forms ======================================================================

// Indicators =================================================================

//fixme - using?
/*
.alert {

  a,
  .alert-link {
    color: #fff;
  }
}

.tooltip {
  @extend .miketrakan;
}
*/

// Progress bars ==============================================================

//todo - phase 2
/*
.progress {
  border-radius: 1rem;
  background-color: $gray-light;
  @include box-shadow(none);

  &-bar {
    @include box-shadow(none);
  }
}
*/

// Containers =================================================================


.max-container {
  max-width: $max-width-container;
  margin: 0 auto;
}

/*
//todo - using these?
.list-group {
  &-item {
    padding: 1.6rem 2.4rem;
  }
}

.well {
  @include box-shadow(none);
}

.panel {
  @include box-shadow(none);

  .panel-heading,
  .panel-title {
    @extend .miketrakan;
    color: #fff;
  }

  .panel-footer {
    @extend .miketrakan;
  }

  &-default {
    .panel-heading,
    .panel-title,
    .panel-footer {
      color: $gray;
    }
  }
}
*/



/**
 *  Do not remove the comments below. It's the markers used by gulp-inject to inject
 *  all your sass files automatically
 */
// injector
// endinjector
