.view-content.contact-content {

  .contact-wrap {
   margin-top: 4rem;
  }

  .greeting {
    padding-bottom: 0;
  }

  .contact-item-wrap {
    margin: 0 auto;
    padding: 2rem 0;

    @media (min-width: $screen-sm-min) {
      width: 45vw;
    }
  }

  .contact-item {
    display: table-cell; // ie9
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 1rem 0;

    @media (max-width: $screen-xs-max) {
      justify-content: flex-start;
      padding-left: 10vw;
    }
  }

  .contact-description {
    padding: 1rem 3rem;

    .h2, h4 {
      margin: 0;
    }

    a {
      color: $client-gray-lite;
    }
  }

  .contact-icon {
    img {
      height: 10rem;

      @media (max-width: $screen-xs-max) {
        height: 7rem;
      }
    }
  }

}
