main {
  padding-top: 150px;
}

.browsehappy,
.navbar {
  position: fixed;
  width: 100%;
  opacity: .95;
  z-index: 10000;
}

.navbar {
  margin-top: 40px;
}

.navbar .navbar-menu {
  opacity: 1;
}

ul.main-nav {
  float: right;
}

.view-wrap .view-item {
  margin: 0 auto 60px;
  padding-bottom: 40px;
  border-bottom: 1px solid lightgray;
}

footer .footer-nav-wrap {
  display: table;
  margin: 0 auto;
}

footer .footer-nav-wrap li {
  float: left;
}
