<section class="view-content resume-content max-container">

  <div class="greeting">
    <p class="h4 handwriting" ng-repeat="greeting in RVC.content.greetings" ng-bind-html="greeting"></p>
  </div>

  <!-- EXPERIENCE -->
  <article class="resume-experience">
    <p class="h2 text-center handwriting" ng-if="RVC.content.experience.header" ng-bind-html="RVC.content.experience.header"></p>
    <ul>
      <li ng-repeat="item in RVC.content.experience.items">
        <div>
          <p class="yellow text-center" ng-bind="item.company.title"></p>
          <h3 class="text-center"><a target="_blank" ng-href="{{item.company.url}}" ng-bind="item.company.name"></a></h3>
          <h4 class="text-center" ng-bind="item.company.dates"></h4>
          <ul class="resume-bullets">
            <li ng-repeat="role in item.roles" ng-bind="role"></li>
            <ul ng-if="item.subroles">
              <li class="subrole" ng-repeat="subrole in item.subroles" ng-bind="subrole"></li>
            </ul>
          </ul>
        </div>
      </li>
    </ul>
  </article>

  <!-- TECH SKILLS -->
  <article class="resume-skills">
    <p class="h2 text-center handwriting" ng-bind-html="RVC.content.techs.header"></p>
    <ul>
      <li ng-repeat="item in RVC.content.techs.items">
        <div class="text-center">
          <h3 class="yellow" ng-bind="item.subhead"></h3>
          <p ng-bind="item.desc"></p>
        </div>
      </li>
    </ul>
  </article>

  <!-- SOFT SKILLS -->
  <article class="resume-soft">
    <p class="h2 text-center handwriting" ng-bind-html="RVC.content.soft.header"></p>
    <ul>
      <li ng-repeat="item in RVC.content.soft.items">
        <div class="text-center">
          <h3 class="yellow" ng-bind="item.subhead"></h3>
          <p ng-bind="item.desc"></p>
        </div>
      </li>
    </ul>
  </article>

  <!-- INDIE -->
  <article class="resume-indie">
    <p class="h2 text-center handwriting" ng-bind-html="RVC.content.indie.header"></p>
    <ul>
      <li ng-repeat="item in RVC.content.indie.items">
        <div class="text-center">
          <p ng-bind="item.desc"></p>
          <ul>
            <li ng-repeat="exp in item.experience" ng-bind-html="exp"></li>
          </ul>
        </div>
      </li>
    </ul>
  </article>

  <!-- EDUCATION -->
  <article class="resume-education">
    <p class="h2 text-center handwriting" ng-bind-html="RVC.content.education.header"></p>
    <ul>
      <li ng-repeat="item in RVC.content.education.items">
        <div class="text-center">
          <h3 class="yellow"  ng-bind="item.degree"></h3>
          <h5 class="bold" ng-bind="item.description"></h5>
          <h5 ng-bind="item.awarder"></h5>
          <h5 ng-bind="item.location"></h5>
        </div>
      </li>
    </ul>
  </article>

  <!-- CERTIFICATIONS -->
  <article class="resume-certs">
    <p class="h2 text-center handwriting" ng-bind-html="RVC.content.certs.header"></p>
    <ul>
      <li ng-repeat="item in RVC.content.certs.items">
        <div class="text-center">
          <h3 class="yellow" ng-bind="item.description"></h3>
          <h5 ng-bind="item.awarder"></h5>
          <h5 ng-bind="item.location"></h5>
        </div>
      </li>
    </ul>
  </article>

</section>
